<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<div th:if="${error}">
    <p style="color: red;">Invalid username or password.</p>
</div>
<form id="loginForm" th:action="@{/auth/login}" th:object="${user}" method="POST"  >
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" th:field="*{email}" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="*{password}" required>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
<script>
    document.getElementById('loginForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent default form submission

    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/auth/login');
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

    // Retrieve form data and send the request
    var formData = new FormData(this);
    xhr.send(formData);
});
</script>
</body>
</html>